
<div *ngIf="cartItems.length > 0; else emptyCart">
  <h2>Panier</h2>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Description</th>
        <th>Prix</th>
        <th>Quantité</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cartItems">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.price }}€</td>
        <td>{{ item.quantity }}</td>
        <td>
          <button class="btn btn-danger" (click)="onRemoveFromCart(item.id)">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Message si le panier est vide -->
<ng-template #emptyCart>
  <p>Le panier est vide :(</p>
</ng-template>
